#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

input {
  width: 600px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border-color: gray;
  margin: 5px
}

.check {
  margin: auto;
}

.checkbox {
  width:50px
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  text-align: left;
}

.tarefas {
  display: grid;
  grid-template-columns: 60% 10% 30%;
  margin-top: 15px;
}
